/* COLORS
$grey: rgba(190, 187, 187, 1);
$blue: rgba(81, 113, 165, 1);
$white: rgba(246, 244, 210, 1);
$yellow: rgba(238, 243, 106, 1);
$green: rgba(129, 244, 153, 1); 
*/
/* FONTS 
font-family: 'Luckiest Guy', cursive;
font-family: 'Boogaloo', cursive; 
*/

body {
  background-color: rgba(246, 244, 210, 1);
  font-family: 'Boogaloo', cursive; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
}

.page-header {
  padding: 10px;
  background-color: rgba(129, 244, 153, 1);
  width: 100%;
}

.animal-container {
  background-color: rgba(81, 113, 165, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-height: 600px;
  max-width: 100%;
}